<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="NoBuzz (beta) v0.7" Version="0.7" Manufacturer="rustyx.org" Compressed="yes" DisableModify="yes" IconSourceFile="..\nobuzz.ico" UpgradeCode="0a6f5c71-0c6d-41d6-b2e2-dd9429663264">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication SuppressOptionsUI="yes" SuppressRepair="yes" LogoFile="logo.png" LicenseFile="..\license.rtf" />
    </BootstrapperApplicationRef>
    <Chain>
      <MsiPackage SourceFile="bin\Release\nobuzz_setup.msi" Compressed="yes" />
      <MsiPackage SourceFile="bin\Release\nobuzz_setup_64.msi" Compressed="yes" InstallCondition="VersionNT64" />
    </Chain>
  </Bundle>
</Wix>